$bcolor:#05a081;
$scolor:#232a34;
$bodycolor:white ;
$footercolor:black;
$boxcolor:#fff;
$graycolor: #5e5e5e;
$maincolor:mintcream;
$mainpadding:10px 10px;
$mainmarging:10px;
$mainposition:relative;
$mainborder:1px solid black;
$maintransition:all 0.5s ease-in-out;
$max-width:100%;
$max-height:100%;
$nav-height:90px;
$mainfloat:left;
$value:none;
$mainfont:25px;
$disflex: flex;
$flexdir:row;
$flexwr:wrap;
$box:10px 10px 10px #ccc;
